{{ template "header.html" . }}

<div class="hero">
    <video class="hero-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
        <source src="/static/videos/hero-background.mp4" type="video/mp4">
    </video>
    <div class="hero-content">
        <h1 class="hero-title">Книга памяти</h1>
        <p class="hero-text">
            Цель проекта – предоставить возможность посетителям портала получить наиболее полную документальную
            информацию об участниках Великой Отечественной войны при помощи новых интерактивных инструментов.
        </p>
    </div>
</div>

<div class="container">
    <ul class="card-list">
        <form class="search" action="/" method="get">
            <input class="search-input" name="document" placeholder="Поиск документа..." type="text"
                value="{{ .search }}">
            <img src="/static/svg/search.svg" alt="">
        </form>

        <h1>Выбери услугу</h1>

        {{ range .documents }}
        <li class="card">
            <img src="{{ .Image_url }}" alt="" class="card-image">
            <div class="card-content">
                <h3 class="card-title">{{ .Title }}</h3>
                <p class="card-description">{{ .Description }}</p>
                <a class="link" href="/document/{{ .Document_id }}">Подробнее</a>
            </div>
        </li>
        {{ end }}
    </ul>
</div>

{{ template "footer.html" . }}