{{ template "header.html" . }}

<div class="container header-margin">
    <div class="breadcrumb">
        <a class="link" href="/">Документы</a>
        &rightarrow;
        <span>{{ .document.Title }}</span>
    </div>

    <div class="service">
        <h1 class="service-title">{{ .document.Title }}</h1>
        <img src="{{ .document.Image_url }}" alt="" class="service-image">
        <p class="service-description">{{ .document.Description }}</p>
        <buttton class="service-action button button_color_primary button_size_large">
            <span>ОСТАВИТЬ ЗАЯВКУ</span>
            <img src="/static/svg/arrow-right.svg" alt="" class="button-icon">
        </buttton>
    </div>
</div>

{{ template "footer.html" . }}