{{ template "header.html" . }}

<div class="container header-margin">
    <div class="breadcrumb">
        <a href="/">
            <img src="/static/svg/home.svg" alt="" class="breadcrumb-icon link">
        </a>
        &rightarrow;
        <a class="link" href="/">Услуги</a>
        &rightarrow;
        <span>{{ .service.Name }}</span>
    </div>

    <div class="service">
        <h1 class="service-title">{{ .service.Name }}</h1>
        <img src="{{ .service.Image }}" alt="" class="service-image">
        <p class="service-description">{{ .service.Description }}</p>
        <buttton class="service-action button button_color_primary button_size_large">
            <span>ОСТАВИТЬ ЗАЯВКУ</span>
            <img src="/static/svg/arrow-right.svg" alt="" class="button-icon">
        </buttton>
    </div>
</div>

{{ template "footer.html" . }}