<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/fonts/stylesheet.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="/" class="navbar-brand">
                <img src="/static/svg/logo.svg" alt="">
                Книга&nbsp;памяти
            </a>
            <!-- <form class="search" action="/" method="get">
                <input class="search-input" name="search" placeholder="Искать..." type="text">
                <img src="/static/svg/search.svg" alt="">
            </form> -->
            <ul class="navbar-links">
                <li><a class="navbar-link navbar-link_active" href="/">Документы</a></li>
                <li><a class="navbar-link" href="/services">Участники</a></li>
                <li><a class="navbar-link" href="/contacts">Контакты</a></li>
                <li><a class="navbar-link" href="/about">О&nbsp;проекте</a></li>
            </ul>
            <div class="userbar">
                <img src="/static/svg/user.svg" alt="">
            </div>
        </nav>
    </header>