{{ template "header.html" . }}

<div class="container header-margin">
    <div class="breadcrumb">
        <a href="/">
            <img src="/static/svg/home.svg" alt="" class="breadcrumb-icon link">
        </a>
        &rightarrow;
        <a class="link" href="/">Документы</a>
        &rightarrow;
        <span>{{ .document.Title }}</span>
    </div>

    <div class="document">
        <h1 class="document-title">{{ .document.Title }}</h1>
        <img src="{{ .document.Image_url }}" alt="" class="document-image">
        <p class="document-description">{{ .document.Description }}</p>
        <div class="document-action">
            <button class="button button_color_primary button_size_large">
                <span>ОСТАВИТЬ ЗАЯВКУ</span>
                <img src="/static/svg/arrow-right.svg" alt="" class="button-icon">
            </button>
            <a href="/document/{{ .document.Document_id }}/delete"
                class="button button_outline_primary button_size_large">
                <span>УДАЛИТЬ ДОКУМЕНТ</span>
                🗑️
                <!-- <img src="/static/svg/arrow-right.svg" alt="" class="button-icon"> -->
            </a>
        </div>
    </div>
</div>

{{ template "footer.html" . }}