{{ template "header.html" . }}

<div class="container header-margin">
    <div class="breadcrumb">
        <a href="/">
            <img src="/static/svg/home.svg" alt="" class="breadcrumb-icon link">
        </a>
        &rightarrow;
        <span>404</span>
    </div>

    <div class="not-found">
        <h1>Страница не найдена</h1>
        <p>Возможно, вы ошиблись при вводе адреса или страница была удалена.</p>
        <a href="/" class="link">Вернуться на главную</a>
    </div>
</div>

{{ template "footer.html" . }}